{% extends "base.html" %}

{% block title %}User Details{% endblock %}

{% block content %}
    <h1>{{user.last_name}}'s Details</h1>

    <img src="{{user.image_url}}" alt="user's profile pic">
    
    <ul>
        <li>ID: {{user.id}}</li>
        <li>Name: {{user.first_name}} {{user.last_name}}</li>
    </ul>

    <form action='/users/{{user.id}}/edit'>
        <button type="submit">Edit User</button>
    </form>
    
    <form action='/users/{{user.id}}/delete' method="POST">
        <button type="submit">Delete</button>
    </form>

    <div>
        <h2>{{user.last_name}}'s Posts</h2> 

        <ul>

          {% for post in posts %}

            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>

          {% endfor %}

        </ul>
    
        <form action='/users/{{user.id}}/posts/new'>
            <button type="submit">Add Post</button>
        </form>
    </div>

    <a href="/">Go Back</a>

{% endblock %}