{% extends "base.html" %}

{% block title %}Edit Existing User{% endblock %}

{% block content %}
    <h1>Update User</h1>

    <form action="/users/{{user.id}}/edit">
        <input type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}">
        <input type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}">
        <input type="text" name="image_url" placeholder="Profile Picture URL" value="{{user.image_url}}">
        <button type="submit">Update User</button>
    </form>

    <form action='/users/{{user.id}}'>
        <button type="submit">Cancel Changes</button>
    </form>
    
    <a href="/">Go Back</a>

{% endblock %}
