{% extends "base.html" %}

{% block title %}Post Details{% endblock %}

{% block content %}
    <h1>{{post.title}}</h1>

    <div>
        <blockquote>
            {{post.content}}
        </blockquote>
        <p>By {{user.first_name}} {{user.last_name}} at {{post.created_at}}</p>
    </div>

    <form action='/posts/{{post.id}}/edit'>
        <button type="submit">Edit Post</button>
    </form>
    
    <form action='/posts/{{post.id}}/delete' method="POST">
        <button type="submit">Delete</button>
    </form>


    <a href="/users/{{user.id}}">Go Back</a>

{% endblock %}